<% include ./partials/header %>
	<!--main-container-part-->

<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="/dashboard"> <i class="icon-dashboard"></i>  My Dashboard </a> </li>
        <li class="bg_lg"> <a href="/dashboard/artikel"> <i class="icon-book"></i> Artikel</a> </li>
        <li class="bg_lo"> <a href="/dashboard/stnk"> <i class="icon-user"></i> STNK</a> </li>
      </ul>
    </div>
<!--End-Action boxes-->    


    <hr/>
    <div class="row-fluid">
      <div class="span6">
 
     
        
      </div>
      <div class="span6">
 
      
      </div>
    </div>
  </div>
<% include ./partials/footer %>